.git
.github
node_modules
vendor
public/build
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
.env
.env.backup
composer.lock
Dockerfile
docker-compose.yml
npm-debug.log
bootstrap/cache/*.php
bootstrap/cache/config.php
bootstrap/cache/routes.php
bootstrap/cache/services.php
bootstrap/cache/packages.php
